.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}
.title-cards h2 {
  margin-bottom: 8px;
}
.card-list {
  display: flex;
  gap: 10px;
  max-width: 100%;
  padding: 0 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.card-list::-webkit-scrollbar {
  display: none;
}
.card {
  position: relative;
}

.card img {
  width: 280px;
  border-radius: 4px;
  cursor: pointer;
  transform: translateY(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover img {
  transform: translateY(0px) scale(1.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}
.card-list .card {
  position: relative;
}
.card-list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: white;
}
@media (max-width: 800px) {
  .title-cards {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .title-cards h2 {
    font-size: 20px;
  }
  .card-list img {
    width: 200px;
  }
  .card-list p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .title-cards h2 {
    font-size: 15px;
  }
  .card-list img {
    width: 165px;
  }
  .card-list p {
    font-size: 10px;
  }
}

